<%= link_to '+ 新規', new_memo_path, class: "mb-2 btn btn-outline-dark", remote: true %>

<div class="row">
 <% @memos.each do |memo| %>
 <div class="col-lg-4 col-sm-6">
  <div class="card mb-3">
    <%= link_to memo, class: "card-body text-dark text-decoration-none", remote: true do %>
      <h5 class="card-title"><%= memo.title %></h5>
      <p class="card-text">
        <%= memo.created_at.strftime('%Y/%m/%d') %>
        <%= truncate(memo.content, length: 15) %>
      </p>
    <% end %>
    <div class="mb-2 me-2 text-end">
    <%#= link_to '削除', memo, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-sm btn-danger' %>

    <%= link_to  memo, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-sm' do %>
       <i class="bi bi-trash3"></i>
    <% end %>
    
    </div>  
  </div>
 </div>
 <% end %>
</div>
  
<div class="mt-2">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>

