<% if memos.any? %>
  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
  <% memos.each do |memo| %>
  <div class="col">
    <div class="card card-cover h-100 overflow-hidden bg-light rounded-4 shadow-lg">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-dark text-shadow-1">
        <h2 class="pt-2 mt-2 mb-2 display-6 lh- fw-bold"><%= memo.title %></h2>
         <p class="card-text"><%= truncate(memo.content, length: 15) %></p>
        <ul class="d-flex list-unstyled mt-auto">
          <li class="me-auto">
            <%= link_to '詳細', memo, class: "btn btn-sm btn-outline-secondary", remote: true %>
            <%= link_to '削除', memo, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-sm btn-outline-warning' %>
            <%= link_to '編集', edit_memo_path(memo), class: "btn btn-outline-secondary btn-sm", remote: true %>
          </li>
          
          <li class="d-flex align-items-center">
            <small><%= memo.created_at.strftime('%Y/%m/%d') %></small>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <% end %>
  </div>
  
  <div>
    <%== pagy_bootstrap_nav(pagy) %>
  </div>
<% end %>

