<div class="row">

    <%= form_with(model: @memo, local: false, class: 'js-memo-form') do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="mb-3">
        <%= f.label :title, 'title' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      
      <div class="mb-3">
        <%= f.label :content, 'content' %>  
        <%= f.text_area :content, class: 'form-control', rows: 10 %>
      </div>

      <%= f.submit '完了', class: 'btn btn-secondary' %>
    <% end %>
</div>

