<div class="row">

    <%= form_with(model: @memo, local: false) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div>
        <%= f.text_field :title, placeholder: 'title', class: 'form-control-plaintext' %>
      </div>
      
      <div class="mb-3">
        <%= f.text_area :content, placeholder: 'content', class: 'form-control-plaintext', rows: 10 %>
      </div>

      <%= f.submit '完了', class: 'btn btn-secondary' %>
    <% end %>
</div>