<%= link_to '+ 新規', new_memo_path, class: "mb-2 btn btn-outline-dark", remote: true %>
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th>内容</th>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @memos.each do |memo| %>
        <tr>
          <td><%== truncate(safe_join(memo.content.split("\n")[0..0], tag(:br)), length: 15) %></td>
          <td class="text-end">
            <%= link_to '詳細', memo, class: "btn btn-sm btn-outline-secondary", remote: true %>
            <%= link_to '削除', @memo, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-sm btn-danger' %>
          </td>  
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>

<% else %>
  <div class="p-3 p-sm-5 my-4">
    <div class="text-center text-dark">
      <h1 class="display-1">box</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-sm btn-dark' %>
    </div>
  </div>
<% end %>